<div>Votre score:</div>
<h2 class="score">{{ score }}/{{ questions.length }}</h2>
<div id="estimates">
  <div class="estimate" *ngFor="let estimate of questions">
    <div>{{ estimate.text }}</div>
    <div class="answers">
      <div
        *ngIf="
          estimate.min <= estimate.answer && estimate.max >= estimate.answer;
          then correct;
          else incorrect
        "
      ></div>
      <ng-template #correct><div class="icon correct">✔</div></ng-template>
      <ng-template #incorrect><div class="icon incorrect">✘</div></ng-template>
      <div class="details">
        <span>Estimation : {{ estimate.min }} - {{ estimate.max }}</span>
        <span>Réponse : {{ estimate.answer }}</span>
      </div>
    </div>
  </div>
</div>
