:host {
  display: flex;
  flex-flow: row;
  justify-content: center;

  & > *:first-child {
    flex: 0 1 400px;
  }
}

.form {
  display: flex;
  flex-flow: column;
  & > * {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
